@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

::root {
  --gray0: #F8F8F8;
  --gray1: #DBE1E8;
  --gray2: #B2BECD;
  --gray3: #6C7983;
  --gray4: #454E56;
  --gray5: #2A2E35;
  --gray6: #12181B;
}

@layer base {

  html {
    font-family: 'Overpass';
  }

  html {
    @apply scroll-smooth
  }

  body {
    @apply bg-[#DBE1E8] selection:bg-[#8A2BE2] selection:text-[#F8F8F8] dark:bg-[#12181B] ease-in duration-300 
  }

  p {
    @apply font-semibold text-[#454E56] dark:text-[#B2BECD]
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-[#12181B] dark:text-[#F8F8F8]
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  li {
    @apply cursor-pointer font-semibold 
  }

  button {
    @apply shadow-xl uppercase rounded-md bg-gradient-to-r from-[#55e5c1] to-[#ff74ec] text-white font-bold
  }

}